<!DOCTYPE html>
<html ng-app="signalizator">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Signalizator</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="bower_components/lodash/lodash.js"></script>

    <script src="bower_components/leaflet/dist/leaflet.js"></script>
    <script src="bower_components/leaflet.draw/dist/leaflet.draw.js"></script>
    <script src="bower_components/leaflet-plugins/layer/tile/Google.js"></script>
    <script src="bower_components/leaflet-plugins/layer/tile/Bing.js"></script>
    <script src="bower_components/Leaflet.fullscreen/dist/Leaflet.fullscreen.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <script src="bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>


    <script src="angular/app.js"></script>
    <script src="angular/services.js"></script>

    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/leaflet.draw/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="bower_components/Leaflet.fullscreen/dist/leaflet.fullscreen.css" />
    <link rel="stylesheet" href="bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">

    <link href="http://///fonts.googleapis.com/css?family=Squada+One:400" rel="stylesheet" type="text/css">
</head>

<body ng-controller="GoogleMapsFullsizeController">
<div style="height: 100%;">
	<div class="header">
		<img src="images/pin_sharp_w50.png" style="float:left; margin-right:20px; margin-top:10px;">
		<div style="float:left">
			<h1 style="display: inline;">Signalizator</h1>
			</br>
			<span>Zprávy, úřední desky z vaší ulice</span>
		</div>
		<div style="float:right; text-align:right;">
		<span><a href="https://twitter.com/DameSignal" title="Signalizator na Twitteru">@DameSignal</a></span><br/>
		<span>Vytvořeno na hackathonu #PragueHacks</span>
		</div>
	</div>

    <div id="feed" class="scrollable-panel right">
            <div>
                <tabset justified="true" class="tabs">
                    <tab>
                        <tab-heading><i class="ion-chatbox"></i> Oznámení</tab-heading>
                        <h2>Výpis z úředních desek</h2>
                        <ul class="panel-group list-unstyled">
                            <li id="record-{{record.id}}" class="panel-default anchor"
                                ng-class="{selected: record.selected}"
                                ng-repeat="record in records track by record.id">
                                <a class="record-title" title="{{record.title}}"
                                    ng-click="selectRecord(record, $event)">
                                    <h4>{{record.title}}</h4>
                                </a>
                                <div>
                                    Odkaz:
                                    <a ng-href="{{record.url}}" title="{{record.title}}">
                                        <span class="glyphicon glyphicon-link" style="font-size: 20pt"></span>
                                    </a>
                                </div>
                                <div>Datum: {{record.date}}</div>
                            </li>
                        </ul>
                    </tab>
                    <tab>
                        <tab-heading><i class="ion-email"></i> Notifikace</tab-heading>

                        <h2>Posílat notifikace emailem</h2>
                        <p>Pro zasílání notifikací emailem vyberte
                        <a href="#" ng-click="enableDraw()">selektorem <span class="glyphicon glyphicon-stop"></span></a>
                        oblast, která vás zajímá.</p>
                        <p> Oznámení Vám Signalizator posílá jednou týdně a je možné je kdykoliv odhlásit.</p>
                        <form name="subscription" action="#">
                            <p class="input-group">
                                <label for="email">Vaše emailová adresa:</label>
                                <input type="email" name="email" ng-model="emailValue"
                                    id="email" class="form-control" placeholder="email@email.cz">
                            </p>
                            <input type="submit" class="btn" value="Odebírat novinky z vyznačené lokality" ng-click="subscribe()"
                                ng-disabled="!areaSelected">
                            <div>
                                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                            </div>
                        </form>
                    </tab>
                    <tab>
                        <tab-heading><i class="ion-person"></i> Kontakty</tab-heading>
                        <h2>Kontakty</h2>
                        <p>
                            Signalizátor vznikl v rámce akce <a href="http://www.praguehacks.cz/" target="_blank">Praguehacks.cz</a>.
                            Data o úředních deskách čerpá z aplikace eDesky.cz a dále je lokalizuje až na konkrétní  ulici.
                        </p>
                        <p>
                            Pište na <a href="mailto:jsem@signalizator.cz">jsem@signalizator.cz</a>
                        </p>
                    </tab>
                  </tabset>
            </div>
		</div>

    <div class="fullscreen left">
        <leaflet id="mainMap" class="span2" event-broadcast="events" center="city" layers="layers" markers="markers" controls="controls" height="100%"></leaflet>
    </div>
</div>
</body>
</html>
