<!DOCTYPE html>
<html ng-app="signalizator">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>

    <script src="components/angular/angular.js"></script>
    <script src="components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="components/lodash/lodash.js"></script>

    <script src="components/leaflet/dist/leaflet.js"></script>
    <script src="components/leaflet.draw/dist/leaflet.draw.js"></script>
    <script src="components/leaflet-plugins/layer/tile/Google.js"></script>
    <script src="components/leaflet-plugins/layer/tile/Bing.js"></script>
    <script src="components/Leaflet.fullscreen/dist/Leaflet.fullscreen.js"></script>
    <script src="components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.js"></script>
    <script src="components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>


    <script src="angular/app.js"></script>
    <script src="angular/services.js"></script>

    <link rel="stylesheet" href="components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="components/leaflet.draw/dist/leaflet.draw.css" />
    <link rel="stylesheet" href="components/Leaflet.fullscreen/dist/leaflet.fullscreen.css" />
    <link rel="stylesheet" href="components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" href="components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="components/leaflet.markercluster/dist/MarkerCluster.Default.css" />


    <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link href="http://///fonts.googleapis.com/css?family=Squada+One:400" rel="stylesheet" type="text/css">
</head>

<body ng-controller="GoogleMapsFullsizeController">
<div style="height: 100%;">
	<div class="header">
		<img src="images/logo_pin_w_50.png" style="float:left; margin-right:20px;">
		<div style="float:left">
			<h1 style="display: inline;">Signalizator</h1>
			</br>
			<span>Zprávy, úřední desky z vaší ulice</span>
		</div>
		<div style="float:right; text-align:right;">
		<span><a href="https://twitter.com/DameSignal" title="Signalizator na Twitteru">@DameSignal</a></span><br/>
		<span>Vytvořeno na hackathonu #PragueHacks</span>
		</div>
	</div>

    <div id="feed" class="scrollable-panel right">
                    <div>
			<ul class="nav nav-tabs nav-justified">
				<li class="active"><a href="#" class="no-corners announcment-icon">Oznámení</a></li>
				<li><a href="#" class="no-corners email-icon" ng-click="subscribe = !subscribe">Notifikace</a></li>
				<li><a href="#" class="no-corners contact-icon">Kontakty</a></li>
			</ul>
                    </div>
			<div class="custom-panel panel-default">
				<div ng-show="subscribe" id="subscribe-panel" class="subscribe-panel">
				<br/>
				Pro zasílání notifikací emailem vyberte <a href="#" ng-click="enableDraw()">selektorem <span class="glyphicon glyphicon-stop"></span></a> oblast, která vás zajímá. Oznámení vám příjdou jednou týdně. 
					<form action="#">
						<label for="male" class="sr-only">Email</label>
						<input type="email" name="email" ng-value="email"
							id="email" class="form-control" placeholder="Email na který posílat notifikace">
						<input type="submit" class="btn" value="Odebirat novinky z vyznačené lokality" ng-click="subsribe(email,$event)">
					</form>
					<hr/>
				</div>
				<div>
					<h3>Výpis z úředních desek</h3>
					<hr />
				</div>
				<ul class="panel-group list-unstyled">
					<li id="record-{{record.id}}" class="panel-default anchor"
						ng-class="{selected: record.selected}"
						ng-repeat="record in records track by record.id"><a
						class="record-title" title="{{record.title}}"
						ng-click="selectRecord(record, $event)">
							<h4>{{record.title}}</h4>
					</a>
						<div>
							Odkaz: <a ng-href="{{record.url}}" title="{{record.title}}"><span
								class="glyphicon glyphicon-link" style="font-size: 20pt"></span></a>
						</div>
						<div>Datum: {{record.date}}</div>
						<hr /></li>
				</ul>
			</div>
		</div>

    <div class="fullscreen left">
        <leaflet id="mainMap" class="span2" event-broadcast="events" center="city" layers="layers" markers="markers" controls="controls" height="100%"></leaflet>
    </div>
</div>
</body>
</html>
