html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

#box, #feed {
    width: 30em;
    text-align: left;
}

#box {
    top: 10px;
    left: 45px;
}

#feed {
    top: 1em;
    right: 1em;
}

#feed ul{
    margin-bottom: 0px;
}

#feed li.selected>a {
    background-color: yellow;
    background-image: none;
}

#feed li>a {
    display: block;
}

form#circle input {
    width: 5em;
}

.scrollable-panel {

   /* position: absolute; */
	overflow: auto;
}
.scrollable-panel div{
	margin-bottom: 0px;
}
.header {
	height: 15%;
	padding: 25px;
	padding-left: 20px;
	background-color: #016077;
	color: white;
	background-image: url("../images/seamless_1.png");
}
.header h1 {
	font-family: "Squada One";
	font-size: 3em;
	text-transform: uppercase;
}
.right {
    width: 180px;
    float: right;
    height: 85%;
}
.left {
    float: none; /* not needed, just for clarification */
    background: #e8f6fe;
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
    height: 85%;
}
.record-title {
	color: #ff4c00;
	text-decoration: underline;
}
.custom-panel {
    padding: 30px;
    padding-top: 0px;
}
.announcment-icon {
	background-image: url("../images/announcement_b30.png");
	background-repeat: no-repeat;
    background-position: left center; 
    background-size: 15% auto;
}
.email-icon {
	background-image: url("../images/mail_b30.png");
	background-repeat: no-repeat;
    background-position: left center; 
    background-size: 15% auto;
}
.contact-icon {
	background-image: url("../images/contact_b30.png");
	background-repeat: no-repeat;
    background-position: left center; 
    background-size: 15% auto;
}
.no-corners {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0 !important;
}